{% extends 'basetemplate.html' %}

{%block body%}
<header>
    <a href="#" class="logo"><i class="fas fa-university"></i> Bitcoin Banken</a>
      <nav class="navigation ">
        <a class="operation-btn" href="{{url_for('customer.insätning')}}">Insättning & Uttag</a>
        
        
        <a class="operation-btn" href="{{url_for('customer.överföring')}}">Överföringar</a>
       
        
      
      </nav>
  </header>
  
  


  <h2 class="title">Konto</h2>
  <div class="content">
      <div class="card">
          <div class="icon">
            <i class="far fa-user-circle"></i>
    </div>  
          <div class="info">
              <h3>Konto-sida</h3>
              
              <table class="customers">
                <tr>
                    <th class="tabel-heder">ID
                      <div class="icon-contener">
                          <a  href="{{  url_for('customer.kontobild',id=id, sortColumn='ID',sortOrder='asc' ) }}">
                              <i class="fas fa-sort-up"></i>
                          </a>
                          <a href="{{  url_for('customer.kontobild',id=id,sortColumn='ID',sortOrder='desc' ) }}">
                              <i class="fas fa-sort-down"></i>
                          </a>
                      </div>
                    </th>  
                    <th class="tabel-heder">Kontotyp
                      <div class="icon-contener">
                          <a  href="{{  url_for('customer.kontobild',id=id,sortColumn='Kontotyp',sortOrder='asc' ) }}">
                              <i class="fas fa-sort-up"></i>
                          </a>
                          <a href="{{  url_for('customer.kontobild',id=id,sortColumn='Kontotyp',sortOrder='desc' ) }}">
                              <i class="fas fa-sort-down"></i>
                          </a>
                      </div>
                    </th>  
                      
                    <th class="tabel-heder">Skapad
                        <div class="icon-contener">
                            <a  href="{{  url_for('customer.kontobild',id=id,sortColumn='Skapad',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('customer.kontobild',id=id,sortColumn='Skapad',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>
                    </th>    
                    <th class="tabel-heder">Balans
                        <div class="icon-contener">
                            <a  href="{{  url_for('customer.kontobild',id=id,sortColumn='Balans',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('customer.kontobild',id=id,sortColumn='Balans',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>
                    </th>    
                    <th class="tabel-heder">KundID
                        <div class="icon-contener">
                            <a  href="{{  url_for('customer.kontobild',id=id,sortColumn='KundID',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('customer.kontobild',id=id,sortColumn='KundID',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>
                    </th>
                        <th class="tabel-heder">Kontohavare
                             
                        </th>

                </tr>
                
                  
                {% for k in sort %}
                  
                <tr>
                    <td><a class="search-btn" href="{{ url_for('customer.transaktionerbild',id = k.Id) }}">{{k.Id}} </a></td>
                    <td>{{k.AccountType}}</td>
                    <td>{{k.Created}}</td>
                    <td>{{k.Balance}}</td>
                    <td>{{k.CustomerId}}</td>
                    
                </tr>  
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Summan: {{summan}}</td>
                    <td></td>
                    <td >Kontohavare: {{FÖRNAMN}}</td>
                </tr>  
                
               
            
                </table>
              
      </div>
    </div>
  </div> 
  

</section>

  {% endblock body %}





  