{% extends 'basetemplate.html' %}

{%block body%}
<header>
  <a href="#" class="logo"><i class="fas fa-university"></i> Bitcoin Banken</a>
    <nav class="navigation ">
     
      <a href="#">Visar sidan {{ page }} av totalt {{ pages }}</a>
      
    </nav>
</header>

  
<section class="kort">
      

<form method="get">
        <div class="search-box ">
          <input name="sök" class="search-txt" value="{{ sök }}" type="text" placeholder="Search">
          <input class="search-btn" type=submit value= "sök">
        
        </div>
 </form>        

 
  <h2 class="title">Kund</h2>
  <div class="content">
      <div class="card">
          <div class="icon">
              <i class="fas fa-users"></i> 
    </div>  
          <div class="info">
              <h3>Kund-Uppgifter</h3>
              <table class="customers">
                <tr>
                <th class="tabel-heder">ID
                      <div class="icon-contener">
                        <a  href="{{  url_for('customer.kundbild',sortColumn='ID',sortOrder='asc',sök=sök ) }}">
                            <i class="fas fa-sort-up"></i>
                        </a>
                        <a href="{{  url_for('customer.kundbild',sortColumn='ID',sortOrder='desc',sök=sök ) }}">
                            <i class="fas fa-sort-down"></i>
                        </a>
                      </div>
                    </th>
                <th class="tabel-heder">Förnamn
                  <div class="icon-contener">
                      <a  href="{{  url_for('customer.kundbild',sortColumn='Förnamn',sortOrder='asc' ,sök=sök) }}">
                          
                        <i class="fas fa-sort-up"></i>
                      </a>
                      <a href="{{  url_for('customer.kundbild',sortColumn='Förnamn',sortOrder='desc',sök=sök ) }}">
                        <i class="fas fa-sort-down"></i>
                      </a>
                  </div>    
                </th>
                <th class="tabel-heder">Efternamn
                    <div class="icon-contener">
                      <a  href="{{  url_for('customer.kundbild',sortColumn='Efternamn',sortOrder='asc' ,sök=sök) }}">
                        <i class="fas fa-sort-up"></i>
                      </a>
                      <a href="{{  url_for('customer.kundbild',sortColumn='Efternamn',sortOrder='desc' ,sök=sök) }}">
                         <i class="fas fa-sort-down"></i>
                      </a>
                    </div> 
                </th>
                <th class="tabel-heder">Adress
                  <div class="icon-contener" >
                      <a  href="{{  url_for('customer.kundbild',sortColumn='Adress',sortOrder='asc',sök=sök ) }}">
                          <i class="fas fa-sort-up"></i>
                      </a>
                      <a href="{{  url_for('customer.kundbild',sortColumn='Adress',sortOrder='desc',sök=sök ) }}">
                         <i class="fas fa-sort-down"></i>
                      </a>
                    </div>  
                </th>
                <th class="tabel-heder"> Stad
                    <div class="icon-contener">
                      
                      <a  href="{{  url_for('customer.kundbild',sortColumn='Stad',sortOrder='asc',sök=sök ) }}">
                            <i class="fas fa-sort-up"></i>
                      </a>
                      <a href="{{  url_for('customer.kundbild',sortColumn='Stad',sortOrder='desc',sök=sök ) }}">
                            <i class="fas fa-sort-down"></i>
                      </a>
                    </div>  
                </th>
                <th class="tabel-heder">Land
                  <div class="icon-contener"> 
                      <a  href="{{  url_for('customer.kundbild',sortColumn='Land',sortOrder='asc',sök=sök ) }}">
                          <i class="fas fa-sort-up"></i>
                      </a>
                      <a href="{{  url_for('customer.kundbild',sortColumn='Land',sortOrder='desc',sök=sök ) }}">
                       <i class="fas fa-sort-down"></i>
                      </a>
                  </div>    
                </th>
                <th class="tabel-heder"> Email
                  <div class="icon-contener">
                     <a  href="{{  url_for('customer.kundbild',sortColumn='Email',sortOrder='asc' ,sök=sök) }}">
                          <i class="fas fa-sort-up"></i>
                     </a>
                     <a href="{{  url_for('customer.kundbild',sortColumn='Email',sortOrder='desc' ,sök=sök) }}">
                        <i class="fas fa-sort-down"></i>
                     </a>
                  </div>   
                </th>
                <th class="tabel-heder">Telefon
                  <div class="icon-contener">
                      <a  href="{{  url_for('customer.kundbild',sortColumn='Telefon',sortOrder='asc',sök=sök ) }}">
                          <i class="fas fa-sort-up"></i>
                      </a>
                      
                      <a href="{{  url_for('customer.kundbild',sortColumn='Telefon',sortOrder='desc' ,sök=sök) }}">
                          <i class="fas fa-sort-down"></i>
                      </a>
                  </div>    
                </th>
                <th class="tabel-heder"> Personnummer
                  <div class="icon-contener">
                      <a  href="{{  url_for('customer.kundbild',sortColumn='Personnummer',sortOrder='asc',sök=sök ) }}">
                            <i class="fas fa-sort-up"></i>
                      </a>
                      <a href="{{  url_for('customer.kundbild',sortColumn='Personnummer',sortOrder='desc',sök=sök ) }}">
                            <i class="fas fa-sort-down"></i>
                      </a>
                  </div>    
                </th>
         

                  {% for data in listOfCustomers %}
                <tr>
                    <td><a class="search-btn" href="{{ url_for('customer.kontobild',id = data.Id, sortColumn=sortColumn, sortOrder=sortOrder,sök=sök) }}">{{data.Id}} </a> </td>
                    <td>{{data.GivenName}}</td>
                    <td>{{data.Surname}}</td>
                    <td>{{data.Streetaddress}}</td>
                    <td>{{data.City}}</td>
                    <td>{{data.Country}}</td>
                    <td>{{data.EmailAddress}}</td>
                    <td>{{data.Telephone}}</td>
                    <td>{{data.Birthday}} </td>
                   
                 
                </tr>
                  {% endfor %}
                  <tfooter>
                    <tr>
                      <td>
                        {% if has_prev %}
                            <a class="main-btn" href="{{ url_for('customer.kundbild', page=page-1, sortColumn=sortColumn, sortOrder=sortOrder, sök=sök ) }}">
                                Prev                                
                            </a>
                        {% endif %}
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{% if has_next %}
                        <a class="main-btn" href="{{ url_for('customer.kundbild', page=page+1, sortColumn=sortColumn, sortOrder=sortOrder,sök=sök) }}">
                            Next                                
                        </a>
                    {% endif %}
</td>
                    </tr>
                  </tfooter>
                </table>
              
      </div>
    </div>
    
    

</section>


  {% endblock body %}





  
<!--   

  <section class="Kundtabel" id="Tjänster">
  


  </section> -->