{% extends 'basetemplate.html' %}

{%block body%}
<header>
    <a href="#" class="logo"><i class="fas fa-university"></i> Bitcoin Banken</a>
      <nav class="navigation ">
       
        
      </nav>
  </header>
  
  


  <h2 class="title">Konto</h2>
  <div class="content">
      <div class="card">
          <div class="icon">
            <i class="fas fa-comments-dollar"></i>
    </div>  
          <div class="info">
              <h3>Konto-transaktioner</h3>
              <table class="table">
                <tr>
                 <thead>

                    <th class="tabel-heder">ID
                      <div class="icon-contener">
                          <a  href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='ID',sortOrder='asc' ) }}">
                              <i class="fas fa-sort-up"></i>
                          </a>
                          <a href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='ID',sortOrder='desc' ) }}">
                              <i class="fas fa-sort-down"></i>
                          </a>
                      </div>
                    </th>  
                    <th class="tabel-heder">Typ
                      <div class="icon-contener">
                          <a  href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='Typ',sortOrder='asc' ) }}">
                              <i class="fas fa-sort-up"></i>
                          </a>
                          <a href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='Typ',sortOrder='desc' ) }}">
                              <i class="fas fa-sort-down"></i>
                          </a>
                      </div>
                    </th>  
                      
                    <th class="tabel-heder">Operation
                        <div class="icon-contener">
                            <a  href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='Operation',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='Operation',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>
                    </th>    
                    <th class="tabel-heder">Datum
                        <div class="icon-contener">
                            <a  href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='Datum',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='Datum',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>
                    </th>    
                    <th class="tabel-heder">Amount
                        <div class="icon-contener">
                            <a  href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='Amount',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='Amount',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>
                    </th>    
                        <th class="tabel-heder">NewBalance
                            <div class="icon-contener">
                                <a  href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='NewBalance',sortOrder='asc' ) }}">
                                    <i class="fas fa-sort-up"></i>
                                </a>
                                <a href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='NewBalance',sortOrder='desc' ) }}">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div>
                        </th>    

                            <th class="tabel-heder">AccountId
                                <div class="icon-contener">
                                    <a  href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='AccountId',sortOrder='asc' ) }}">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                    <a href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='AccountId',sortOrder='desc' ) }}">
                                        <i class="fas fa-sort-down"></i>
                                    </a>
                                </div>
                            </th>    

                            <th class="tabel-heder">Balance
                                <div class="icon-contener">
                                    <a  href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='AccountId',sortOrder='asc' ) }}">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                    <a href="{{  url_for('customer.transaktionerbild',id=id,sortColumn='AccountId',sortOrder='desc' ) }}">
                                        <i class="fas fa-sort-down"></i>
                                    </a>
                                </div>
                            </th>    
                        </thead>  
    


                        </tr>
                
                  
                    {% for t in sort %}

                    <tbody>
                    <tr>
                        <td> <a class="search-btn" href="{{ url_for('customer.transaktionerbild',id = t.Id) }}">{{t.Id}}</a></td>
                        <td>{{t.Type}}</td>
                        <td>{{t.Operation}}</td>
                        <td>{{t.Date}}</td>
                        <td>{{t.Amount}}</td>
                        <td>{{t.NewBalance}}</td>
                        <td>{{t.AccountId}}</td>
                        
                        
                    </tr> 
                    </tbody> 
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Saldo: {{Saldo}}</td>

                    </tr>
                    
                
            
                </table>
              
      </div>
    </div>
  </div> 
  

</section>

  {% endblock body %}





  