<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static',filename='style3.css') }}">  



  <title>Min webbsida</title>
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
      {{ message }}
      </div>
      {% endfor %}
  {% endif %}
  {% endwith %}
  
  {%block body%}

  {% endblock body %}

  <footer class="footer">
    <p>Zarzar&company@ <span>Ahmad Zarzar</span></p>
    <div class="social-icons">
      <a href="https://sv.wikipedia.org/wiki/Linkedin"><i class="fab fa-linkedin"></i></a>
      <a href="https://sv.wikipedia.org/wiki/Facebook"><i class="fab fa-facebook"></i></a>
      <a href="https://sv.wikipedia.org/wiki/Github"><i class="fab fa-github"></i></a>
      



    </div> 

  </footer>
</body>¨¨

</html>