{% extends 'basetemplate.html' %}

{%block body%}
  <header>
    <a href="#" class="logo"><i class="fas fa-university"></i> Bitcoin Banken</a>
    <nav class="navigation "> 
      <a href="Statistik.html">Statisik</a>
      <a href="#Kontakt">Kontakt</a>
    

    </nav>
  </header>

  <section class="main">
 
    <div>
      <h2> Välkommen till<br> <span> Skandinaviska Enskilda Banken AB</span> </h2>
      <h3>Här hos oss hittar du bästa erbjudande på alla lån</h3>
      
      <div class="social-icons">
        <a href="https://www.linkedin.com/login/sv?fromSignIn=true&trk=guest_homepage-basic_nav-header-signin"><i class="fab fa-linkedin"></i></a>
        <a href="https://sv-se.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/login"><i class="fab fa-github"></i></a>
      </div>
    </div>
   

  </section>

 





  <section class="kontotabel" id="Projket">
    <table border="1" width="100%">
      <th> ID </th>
      <th>Kontotyp </th>
      <th>Skapad</th>
      <th>Balans</th>
      <th>KundID</th>

    </table>
   
  </section>
  <section class="Summa" id="Summa" >



    

  </section>

  <section class="kontakt" id="Kontakt">
    <h2 class="title">Ta chansen och Kontakta oss</h2>
    <div class="content">
      <div class="card">
          <div class="icon">
              <i class="fas fa-phone"></i> 
    </div>  
          <div class="info">
            <h3>Telefon</h3>
            <p>+46720052161</p>
          </div>
    </div>
    
    
      <div class="card">
          <div class="icon">
            <i class="fas fa-envelope"></i>
          </div>  
              <div class="info">
                <h3>Email</h3>
                <p>ahmad.zarzar@jodd.com.se</p>

      </div>
    </div>
      
    

  </section>

  {% endblock body %}
