{% extends 'basetemplate.html' %}

{%block body%}
<header>
    <a href="#" class="logo"><i class="fas fa-university"></i> Bitcoin Banken</a>
      <nav class="navigation ">
       
        
      </nav>
  </header>
  
  


  <h2 class="title">Konto</h2>
  <div class="content">
      <div class="card">
          <div class="icon">
            <i class="far fa-user-circle"></i>
    </div>  
          <div class="info">
              <h3>Konto-sida</h3>
              
              <table class="kontotabel">
                <tr>
                    <th class="tabel-heder">ID
                      <div class="icon-contener">
                          <a  href="{{  url_for('kontobild',sortColumn='ID',sortOrder='asc' ) }}">
                              <i class="fas fa-sort-up"></i>
                          </a>
                          <a href="{{  url_for('kontobild',sortColumn='ID',sortOrder='desc' ) }}">
                              <i class="fas fa-sort-down"></i>
                          </a>
                      </div>
                    <th class="tabel-heder">Kontotyp
                      <div class="icon-contener">
                          <a  href="{{  url_for('kontobild',sortColumn='Kontotyp',sortOrder='asc' ) }}">
                              <i class="fas fa-sort-up"></i>
                          </a>
                          <a href="{{  url_for('kontobild',sortColumn='Kontotyp',sortOrder='desc' ) }}">
                              <i class="fas fa-sort-down"></i>
                          </a>
                      </div>
                      
                    <th class="tabel-heder">Skapad
                        <div class="icon-contener">
                            <a  href="{{  url_for('kontobild',sortColumn='Skapad',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('kontobild',sortColumn='Skapad',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>
                    <th class="tabel-heder">Balans
                        <div class="icon-contener">
                            <a  href="{{  url_for('kontobild',sortColumn='Balans',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('kontobild',sortColumn='Balans',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>
                    <th class="tabel-heder">KundID
                        <div class="icon-contener">
                            <a  href="{{  url_for('kontobild',sortColumn='KundID',sortOrder='asc' ) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{  url_for('kontobild',sortColumn='KundID',sortOrder='desc' ) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </div>

                        <th class="tabel-heder">Förnamn
                            <div class="icon-contener">
                                <a  href="{{  url_for('kontobild',sortColumn='Förnamn',sortOrder='asc' ,sök=sök) }}">
                                    
                                  <i class="fas fa-sort-up"></i>
                                </a>
                                <a href="{{  url_for('kontobild',sortColumn='Förnamn',sortOrder='desc',sök=sök ) }}">
                                  <i class="fas fa-sort-down"></i>
                                </a>
                            </div>    
                          </th>

                </tr>
                
                  
                {% for data,k in kontolist %}
                  
                <tr>
                    <td>{{k.Id}} <a class="search-btn" href="{{ url_for('transaktionerbild',id = k.Id) }}">Visa</a></td>
                    <td>{{k.AccountType}}</td>
                    <td>{{k.Created}}</td>
                    <td>{{k.Balance}}</td>
                    <td>{{k.CustomerId}}</td>
                    <td>{{data.GivenName}}</td>
                </tr>  
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Summan: {{summan}}</td>
                    <td></td>
                </tr>  
                
               
            
                </table>
              
      </div>
    </div>
  </div> 
  

</section>

  {% endblock body %}





  